[submodule "RtAudio"]
  path = rtaudio
  url = https://github.com/thestk/rtaudio

[submodule "Q"]
  path = cycfi/Q
  url = https://github.com/cycfi/Q

[submodule "Q Infra"]
  path = cycfi/infra
  url = https://github.com/cycfi/infra

[submodule "Crow"]
  path = crow
  url = https://github.com/CrowCpp/crow

[submodule "AudioFile"]
  path = AudioFile
  url = https://github.com/adamstark/AudioFile

[submodule "matplotlib-cpp"]
  path = matplotlib-cpp
  url = https://github.com/lava/matplotlib-cpp
